$monospace-font: Menlo, Monaco, Consolas, 'Courier New', monospace;
$line-space: 22px;

:root[theme='dark'] {
  .preview-theme-juejin {
    color: var(--wj-markdown-text-primary);
    code {
      background-color: rgba(171,178,191, .2);
    }
  }
}

.preview-theme-juejin {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #333;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  h2, h3, h4, h5, h6 {
    font-size: 20px;
  }
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
  }
  h3 {
    font-size: 18px;
    padding-bottom: 0;
  }
  h6 {
    margin-top: 5px;
  }

  p {
    line-height: inherit;
    margin-top: $line-space;
    margin-bottom: $line-space;
  }

  img {
    max-width: 100%;
  }

  hr {
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  code {
    font-family: $monospace-font;
    word-break: break-word;
    border-radius: 6px;
    overflow-x: auto;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
    background-color: #fff5f5;
    color: #ff502c;
    box-decoration-break: clone;
  }

  pre {
    font-family: $monospace-font;
    overflow: auto;
    position: relative;
    line-height: 1.75;
    border-radius: 6px;
    > code {
      background-color: inherit;
      font-size: 12px;
      padding: 15px 12px;
      margin: 0;
      word-break: normal;
      display: block;
      overflow-x: auto;
    }
  }

  pre:not(.hljs) {
    background: #f8f8f8;
    > code {
      color: #333;
      background: #f8f8f8;
    }
  }

  a {
    text-decoration: none;
    color: #0269c8;
    border-bottom: 1px solid #d1e9ff;
    &:hover,
    &:active {
      color: #275b8c;
    }
  }

  table {
    display: inline-block !important;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: solid 1px #f6f6f6;
  }
  thead {
    background: #f6f6f6;
    color: #000;
    text-align: left;
  }
  tr:nth-child(2n) {
    background-color: #fcfcfc;
  }
  th,
  td {
    padding: 12px 7px;
    line-height: 24px;
  }
  td {
    min-width: 120px;
  }

  blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
    &::after {
      display: block;
      content: '';
    }
    & > p {
      margin: 10px 0;
    }
  }

  ol,
  ul {
    padding-left: 16px;
    li {
      margin-bottom: 0;
      list-style: inherit;
      & .task-list-item {
        list-style: none;
        ul,
        ol {
          margin-top: 0;
        }
      }
    }

    ul,
    ol {
      margin-top: 3px;
    }
  }
  ol li {
    padding-left: 6px;
  }

  .contains-task-list {
    padding-left: 0;
  }

  .task-list-item {
    list-style: none;
  }

  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
  }
}