:root[theme='dark'] {
  .preview-theme-markdown-here {
    code {
      color: var(--wj-markdown-text-primary);
      background-color: var(--wj-markdown-bg-hover);
    }
    pre {
      code {
        color: unset;
        background-color: unset;
      }
    }
  }
}
.preview-theme-markdown-here {
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.1em;

  img {
    max-width: 100%;
    box-shadow: var(--img-box-shadow);
  }

  pre,
  code {
    font-size: 14px;
  }

  code {
    white-space: pre-wrap;
    border-radius: 2px;
    display: inline;
    background-color: rgba(27, 31, 35, 0.05);
    font-size: 16px;
    color: black;
    padding: 0 2px;
    box-decoration-break: clone;
  }

  pre {
    font-size: 15px;
    line-height: 1.4em;
    border-radius: 4px;
    overflow: auto;
    display: block;
  }

  pre code {
    color: inherit;
    background-color: inherit;
    white-space: pre;
    padding: 1.2rem;
    display: block;
    overflow-x: auto;
  }

  strong,
  b {
    color: #bf360c;
  }

  em,
  i {
    color: #009688;
  }

  hr {
    border: 1px solid #bf360c;
    margin: 1.5em auto;
  }

  p {
    margin: 1.5em 5px;
  }

  ul,
  ol {
    padding-left: 15px;
  }

  li {
    margin: 10px;
  }

  li p {
    margin: 10px 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0;
    padding-left: 10px;
  }

  ul {
    list-style-type: none;
    margin-left: -16px;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
  }

  dl dd {
    margin: 0 0 10px;
    padding: 0 10px;
  }

  blockquote,
  q {
    border-left: 2px solid #009688;
    padding: 0 10px;
    color: #777;
    quotes: none;
    margin-left: 1em;
  }

  blockquote::before,
  blockquote::after,
  q::before,
  q::after {
    content: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: #009688;
    text-align: center;
    margin: 1.5em 5px;
    padding: 0.5em 1em;
  }

  h1 {
    font-size: 24px;
    border-bottom: 1px solid #ddd;
  }

  h2 {
    font-size: 20px;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    border: 0;
    margin: 0 auto;
  }

  tbody {
    margin: 0;
    padding: 0;
    border: 0;
  }

  table tr {
    border: 0;
    border-top: 1px solid #ccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  table tr th,
  table tr td {
    font-size: 16px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 5px 10px;
  }

  table tr th {
    font-weight: bold;
    color: #eee;
    border: 1px solid #009688;
    background-color: #009688;
  }
}
