:root[theme='dark'] {
  .preview-theme-smart-blue {
    p {
      color: var(--wj-markdown-text-primary);
    }
  }
}
.preview-theme-smart-blue {
  color: #595959;
  font-size: 15px;
  background-image:
    linear-gradient(90deg, rgba(60, 10, 30, 0.04) 3%, rgba(0, 0, 0, 0) 3%),
    linear-gradient(360deg, rgba(60, 10, 30, 0.04) 3%, rgba(0, 0, 0, 0) 3%);
  background-size: 20px 20px;
  background-position: center center;
}

/* 段落 */
.preview-theme-smart-blue p {
  color: #595959;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  margin: 4px 0;
}

/* 段落间距控制 */
.preview-theme-smart-blue p + p {
  margin-top: 16px;
}

/* 标题的通用设置 */
.preview-theme-smart-blue h1,
.preview-theme-smart-blue h2,
.preview-theme-smart-blue h3,
.preview-theme-smart-blue h4,
.preview-theme-smart-blue h5,
.preview-theme-smart-blue h6 {
  padding: 30px 0;
  margin: 0;
  color: #135ce0;
}

/* 一级标题 */
.preview-theme-smart-blue h1 {
  position: relative;
  text-align: center;
  font-size: 22px;
  margin: 50px 0;
}

/* 一级标题前缀，用来放背景图，支持透明度控制 */
//.preview-theme-smart-blue h1:before {
//  position: absolute;
//  content: "";
//  top: -10px;
//  left: 50%;
//  width: 32px;
//  height: 32px;
//  transform: translateX(-50%);
//  background-size: 100% 100%;
//  opacity: .36;
//  background-repeat: no-repeat;
//  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABfVBMVEX///8Ad/8AgP8AgP8AgP8Aff8AgP8Af/8AgP8AVf8Af/8Af/8AgP8AgP8Af/8Afv8AAP8Afv8Afv8Aef8AgP8AdP8Afv8AgP8AgP8Acf8Ae/8AgP8Af/8AgP8Af/8Af/8AfP8Afv8AgP8Af/8Af/8Afv8Afv8AgP8Afv8AgP8Af/8Af/8AgP8AgP8Afv8AgP8Af/8AgP8AgP8AgP8Ae/8Afv8Af/8AgP8Af/8AgP8Af/8Af/8Aff8Af/8Abf8AgP8Af/8AgP8Af/8Af/8Afv8AgP8AgP8Afv8Afv8AgP8Af/8Aff8AgP8Afv8AgP8Aff8AgP8AfP8AgP8Ae/8AgP8Af/8AgP8AgP8AgP8Afv8AgP8AgP8AgP8Afv8AgP8AgP8AgP8AgP8AgP8Af/8AgP8Af/8Af/8Aev8Af/8AgP8Aff8Afv8AgP8AgP8AgP8Af/8AgP8Af/8Af/8AgP8Afv8AgP8AgP8AgP8AgP8Af/8AeP8Af/8Af/8Af//////rzEHnAAAAfXRSTlMAD7CCAivatxIDx5EMrP19AXdLEwgLR+6iCR/M0yLRzyFF7JupSXn8cw6v60Q0QeqzKtgeG237HMne850/6Qeq7QaZ+WdydHtj+OM3qENCMRYl1B3K2U7wnlWE/mhlirjkODa9FN/BF7/iNV/2kASNZpX1Wlf03C4stRGxgUPclqoAAAABYktHRACIBR1IAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gEaBzgZ4yeM3AAAAT9JREFUOMvNUldbwkAQvCAqsSBoABE7asSOBRUVVBQNNuy9996789+9cMFAMHnVebmdm+/bmdtbQv4dOFOW2UjPzgFyLfo6nweKfIMOBYWwFtmMPGz2Yj2pJI0JDq3udJW6VVbmKa9I192VQFV1ktXUAl5NB0cd4KpnORqsEO2ZIRpF9gJfE9Dckqq0KuZt7UAH5+8EPF3spjsRpCeQNO/tA/qDwIDA+OCQbBoKA8NOdjMySgcZGVM6jwcgRuUiSs0nlPFNSrEpJfU0jTLD6llqbvKxei7OzvkFNQohi0vAsj81+MoqsCaoPOQFgus/1LyxichW+hS2JWCHZ7VlF9jb187pIAYcHiViHAMnp5mTjJ8B5xeEXF4B1ze/fTh/C0h398DDI9HB07O8ci+vRBdvdGnfP4gBuM8vw7X/G3wDmFhFZEdxzjMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDEtMjZUMDc6NTY6MjUrMDE6MDA67pVWAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAxLTI2VDA3OjU2OjI1KzAxOjAwS7Mt6gAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAWdEVYdFRpdGxlAGp1ZWppbl9sb2dvIGNvcHlxapmKAAAAV3pUWHRSYXcgcHJvZmlsZSB0eXBlIGlwdGMAAHic4/IMCHFWKCjKT8vMSeVSAAMjCy5jCxMjE0uTFAMTIESANMNkAyOzVCDL2NTIxMzEHMQHy4BIoEouAOoXEXTyQjWVAAAAAElFTkSuQmCC);
//}

/* 二级标题 */
.preview-theme-smart-blue h2 {
  position: relative;
  font-size: 20px;
  border-left: 4px solid;
  padding: 0 0 0 10px;
  margin: 30px 0;
}

/* 三级标题 */
.preview-theme-smart-blue h3 {
  font-size: 16px;
}

.preview-theme-smart-blue ol {
  margin-left: 16px;
}

/* 无序列表 */
.preview-theme-smart-blue ul {
  list-style: disc outside;
  margin-left: 16px;
  margin-top: 16px;
}

/* 无序列表内容 */
.preview-theme-smart-blue li {
  line-height: 2;
  color: var(--wj-markdown-text-primary);
  margin-bottom: 0;
  list-style: inherit;
}

.preview-theme-smart-blue img {
  max-width: 100%;
  box-shadow: var(--img-box-shadow);
}

/* 已加载图片 */
.preview-theme-smart-blue img.loaded {
  margin: 0 auto;
  display: block;
}

/* 引用 */
.preview-theme-smart-blue blockquote {
  background: #fff9f9;
  margin: 2em 0;
  padding: 2px 20px;
  border-left: 4px solid #b2aec5;
}

/* 引用文字 */
.preview-theme-smart-blue blockquote p {
  color: #666;
  line-height: 2;
  margin: 10px 0;
}

/* 链接 */
.preview-theme-smart-blue a {
  color: #036aca;
  border-bottom: 1px solid rgba(3, 106, 202, 0.8);
  font-weight: 400;
  text-decoration: none;
}

/* 加粗 */
.preview-theme-smart-blue strong {
  color: #036aca;
}

/* 加粗斜体 */
.preview-theme-smart-blue em strong {
  color: #036aca;
}

/* 分隔线 */
.preview-theme-smart-blue hr {
  border-top: 1px solid #135ce0;
  margin: 1rem 0;
}

/* 代码 */
.preview-theme-smart-blue pre {
  overflow: auto;
}

.preview-theme-smart-blue pre,
.preview-theme-smart-blue code {
  border-radius: 6px;
  overflow: auto;
  position: relative;
  line-height: 1.75;
}

.preview-theme-smart-blue pre > code {
  font-size: 12px;
  padding: 1.2rem;
  margin: 0;
  word-break: normal;
  display: block;
  overflow-x: auto;
  color: inherit;
  background-color: inherit;
}

.preview-theme-smart-blue {
  pre:not(.hljs) {
    code {
      color: #333;
      background: #f8f8f8;
    }
  }
}

.preview-theme-smart-blue code {
  word-break: break-word;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
  background-color: #fff5f5;
  color: #ff502c;
  box-decoration-break: clone;
}

/* 表格 */
.preview-theme-smart-blue table {
  border-collapse: collapse;
  margin: 1rem 0;
  overflow-x: auto;
}

.preview-theme-smart-blue table th,
.preview-theme-smart-blue table td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

.preview-theme-smart-blue table tr {
  border-top: 1px solid #dfe2e5;
}

.preview-theme-smart-blue table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/*
  From: icewolf-sec (御坂19008号)
  Description: 新增HTML5 <kbd> 键盘文字标签样式
*/
.preview-theme-smart-blue kbd {
  color: white;
  background-color: #135ce0;
  border: 1px solid #135ce0;
  border-radius: 6px;
  padding: 2px;
  font-weight: bold;
  margin: auto 5px auto;
  font-size: small;
}
