:root[theme='dark'] {
  // 文字颜色
  --wj-markdown-text-primary: rgb(171, 178, 191);
  // 背景颜色
  --wj-markdown-bg-primary: rgb(40, 44, 52);
  --wj-markdown-bg-secondary: #363a43;
  --wj-markdown-bg-tertiary: rgb(30, 34, 42);
  --wj-markdown-bg-hover: rgba(171, 178, 191, 0.2);
  --wj-markdown-border-primary: #393b40;
  --wj-markdown-scroll-bg: #393b40;
  --wj-markdown-text-secondary: rgb(171, 178, 191);
  --wj-markdown-text-tertiary: rgb(160, 160, 160);
  --img-box-shadow: 0 0 0.5rem hsla(0, 0%, 47%, 0.2);
}
