:root {
  --wj-markdown-text-primary: black;
  --wj-markdown-bg-primary: white;
  --wj-markdown-bg-secondary: rgba(5, 5, 5, 0.06);
  --wj-markdown-bg-tertiary: white;
  --wj-markdown-bg-hover: rgb(237, 237, 237);
  --wj-markdown-border-primary: rgb(229, 231, 235);
  --wj-markdown-scroll-bg: #e2e2e2;
  --wj-markdown-text-secondary: rgb(107, 114, 128);
  --wj-markdown-text-tertiary: rgb(160, 160, 160);
  --img-box-shadow: 0 0 0.5rem rgb(40, 40, 40);
}
