.ant-image-preview-root {
  .ant-image-preview-wrap{
    position: absolute;
  }
  .ant-image-preview-mask {
    position: absolute;
  }
  .ant-image-preview-operations-wrapper {
    position: absolute;
  }
}