// electron拖拽
.electron-drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.mermaid-cache, .mermaid {
  display: flex;
  justify-content: center;
  align-items: center;
}

//layout menu
.ant-dropdown-menu-submenu-popup.ant-dropdown-menu {
  *::-webkit-scrollbar{
    display: revert;
    width: 4px;
    height: 4px;
  }
  *::-webkit-scrollbar-track{
    background-color: #e2e2e2;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0000004d;
  }
  *::-webkit-scrollbar-thumb:hover{
    background-color: #00000059;
  }
  *::-webkit-scrollbar-thumb:active{
    background-color: #00000061;
  }
  .ant-dropdown-menu.ant-dropdown-menu-sub.ant-dropdown-menu-vertical {
    max-height: 400px;
    overflow: auto;
  }
}